{% extends "busstops/base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}

  <label for="from">Z:</label>
  <input type="text" id="from">
  <button id="reverse">Zamień</button>
  <label for="to">Do:</label>
  <input type="text" id="to">
  <button id="search">Wyszukaj</button>


<div id="tableData">

</div>

<a class="nav-link" href="{% url 'registration:logout' %}">Wyloguj się</a>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{% static 'busstops/js/main.js' %}"></script>
{% endblock %}
