{% extends "busstops/base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}

<nav class="page-nav">
  <a class="logout-link" href="{% url 'registration:logout' %}">Wyloguj się</a>
</nav>

<header class="page-header">
  <h1>Wyszukiwarka połączeń</h1>
</header>

<div role="search" class="search-area">
  <div class="form-group">
    <label for="from">Z:</label>
    <input class="text-input" type="search" id="from">
  </div>

  <button id="reverse" class="reverse-button">&#8646;</button>
  <div class="form-group">
    <label for="to">Do:</label>
    <input class="text-input" type="search" id="to">
  </div>
  <button class="submit-button" id="search">Wyszukaj</button>
</div>

<div id="tableData" class="data-table">

</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{% static 'busstops/js/main.js' %}"></script>
{% endblock %}
