body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-header h1 {
  text-align: center;
  color: #1995ce;
  margin-bottom: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  margin: 5px 0;
}

.form-group .cred-input {
  border: 1px solid #eeff05;
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 18px;
  color: #464444;
}

.form-group .cred-input:focus {
  border-color: #e5f31e;
}

.form-group .label-wrap {
  margin: 5px 0;
}

.form-group .label-wrap label{
  font-size: 18px;
  color: #4e4e4e;
}

.login-form .submit-button {
  margin: 12px 0;
  background: #1995ce;
  color: #ffffff;
  border: 1px solid #1995ce;
  border-radius: 4px;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 700;
}

.login-form .submit-button:hover {
  cursor: pointer;
}

.login-form .submit-button:active {
  position: relative;
  top: 2px;
  left: 2px;
}